.row {
  display: flex;
}

mat-form-field {
  width: 250px;
  margin-right: 20px;
}

.button {
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer {
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .row {
    flex-direction: column;
  }
}
