<mat-card class="content">
  <div class="top">
    <app-atom-image [src]="image"></app-atom-image>
    <app-organism-form
      [radioItems]="formRadioButtons"
      [citiesList]="citiesList"
      [classesList]="classesList"
      [guestsList]="guestsList"
      [airlinesList]="airlinesList"
    ></app-organism-form>
  </div>
  <div class="bottom">
    <app-molecule-article [text]="articleText"></app-molecule-article>
    <app-molecule-external-links [linksList]="linksList"></app-molecule-external-links>
  </div>
</mat-card>
