<mat-card bp="grid 1@xl" class="content">
  <div bp="5">
    <app-atom-image [src]="image"></app-atom-image>
  </div>
  <div bp="7">
    <app-organism-form
      [radioItems]="formRadioButtons"
      [citiesList]="citiesList"
      [classesList]="classesList"
      [guestsList]="guestsList"
      [airlinesList]="airlinesList"
    ></app-organism-form>
  </div>

  <div bp="7">
    <app-molecule-article [text]="articleText"></app-molecule-article>
  </div>
  <div bp="5">
    <app-molecule-external-links [linksList]="linksList"></app-molecule-external-links>
  </div>
</mat-card>
